<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/mypage/main.css">
<link rel="stylesheet" href="/stylesheets/mypage/statistics.css">
<link rel="stylesheet" href="/stylesheets/mypage/profile.css">

<div class="mycontainer">
	<section id="header">
		<p id="directory">Moja strona • <%= currentUser.username %> </p>
		<div class="box-outline">
		<img src="<% if(currentUser.profileImg==='default') { %> /images/user.jpg <% } %>" alt="" class="header-img">
			<div id="header-text">
				<h1>Miło Cię widzieć, <%= currentUser.username %>!</h1>
				<p>Zobacz czy znaleźliśmy coś w twoich ogłoszeniach</p>
			</div>
			<div id="header-buttons">
				<a href="" class="button-simple-blue btn-medium switch">Mój profil</a>
				<a href="/offers" class="button-simple-blue btn-medium">Moje ogłoszenia</a>
			</div>
		</div>
	</section>
	<section id="general-info">
		<div class="row">
			<div class="col-lg-3 col-md-6 box-outline" id="main-info">
					<div>
						<p>Liczba ogłoszeń</p>
						<h1>
						<%= currentUser.offerCount %> / <% if (currentUser.subscriptionPlan === 'free') { %>
							3
						<% } else if (currentUser.subscriptionPlan === 'premium') { %>
							50
						<% } else { %>
							100
						<% } %> 
					</h1>
					</div>
					<div>
						<p>Liczba zmian w ostatnim tyg.</p>
						<h1><%= lastWeekChangeCount %></h1>
					</div>
					<div>
						<p>Zmiany do zobaczenia</p>
						<h1><%= unseenChanges %></h1>
					</div>
					<div>
						<p>Ostatnia zmiana</p>
						<h1>
							<% const changeTimeStamp = Date.now() - latestChange; %>
							<%if (changeTimeStamp < 3600000) { %>
								Około godziny temu
							<% } else if(changeTimeStamp < 86400000) { %>
								<% const hourTimeStamp = Math.round(changeTimeStamp / 3600000); %>
								<% if(hourTimeStamp > 4 && hourTimeStamp < 22) { %>
									<%= hourTimeStamp %> godzin temu
								<% } else { %>
									<%= hourTimeStamp %> godzin temu
								<% } %>
							<% } else if(changeTimeStamp > 86400000) { %>
								<% const dayTimeStamp = Math.round(changeTimeStamp / 86400000); %>
								<% if(dayTimeStamp < 1) { %>
									<%=dayTimeStamp%> dzień temu
								<% } else { %>
									<%=dayTimeStamp%> dni temu
								<% } %>
							<% } %>
						</h1>
					</div>
			</div>
			<div class="col-lg-5">

			</div>
		</div>
	</section>
</div>


<script src="/js/mypage.js"></script>
<%- include("./partials/footer") %>