<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/offers/index.css">

<div class="container">
	<section id="heading">
		<h1 class="heading__title">Twoje ogłoszenia</h1>
		<a class="heading__button button--blue" role="button" href="/offers/new" <% if(!currentUser.isVerified) { %> disabled <% } %>>Dodaj ogłoszenie</a>
	</section>

	<hr class="highlight">

	<%- include("../partials/messages") %>

	<% if(!currentUser.isVerified) { %>
	<div class="alert alert-warning" role="alert">Aby dodawać i obserwować ogłoszenia musisz zweryfikować swoje konto - sprawdź czy nie wysłaliśmy Tobie emaila z potwierdzeniem (może być w spamie)</div>
	<% } %>

	<section id="offers">
		<% offers.reverse().forEach((offer, offerIndex) => { %>
			<div class="offer <% if(offer.changes.unseen > 0) { %> offer--changes <% } %>" class="<%= offerIndex %> " data-placeholder="<%= offer.changes.unseen %>">
				<!-- <div class="offer__slider slider">
					<% offer.images.forEach((image, index) => { %>
						<input type="radio" name="slider" class="slide<%= index+1 %>"
							<% if(index === 0) { %>
								checked
							<% } %>
						>
					<% }); %>
					<div class="slides">
						<div class="overflow">
							<div class="inner">
							<% offer.images.forEach((image, index) => { %>
								<div class="offer__image slide slide_<%= index+1 %>" style="background-image: url(<%= image %>);">
									</div>
							<% }); %>
								
							</div>
						</div>
					</div>
					<div class="controls">
						<% offer.images.forEach((image, index) => { %>
							<label for="slide<%= index+1 %> "></label>
						<% }); %>
					</div>
					<div class="bullets">
						<% offer.images.forEach((image, index) => { %>
							<label for="slide<%= index+1 %> "></label>
						<% }); %>
					</div>
				</div> -->
				<img class="offer__image" src="<%= offer.images[0] %>"></img>
				<div class="offer__text">
					<div class="offer__heading">
						<h5 class="offer__title"><% if(offer.ownerTitle) { %>
							<%= offer.ownerTitle.slice(0, 20) %>...
						<% } else { %>
							<%= offer.title.slice(0, 20) %>...
						<% } %>
						</h5>
						<h5 class="offer__price">
							<% if(offer.offerType === "PURCHASE") { %>
								<%= offer.price %>zł
							<% } else if(offer.offerType === "EXCHANGE") { %>
									Zamienię
							<% } else if(offer.offerType === "FREE") { %>
									Za darmo
							<% } %>
						</h5>
					</div>
					<hr class="line">
					<div class="offer__heading">
						<p class="offer__date"><%= offer.createdApp %></p>
						<p class="offer__negotiable">
							<% if(offer.isNegotiable) { %>
								Do negocjacji
							<% } %>
						</p>
					</div>
					<div class="offer__content">
						<p class="offer__description"><%= offer.description %>...</p>
						
						<div class="offer__buttons">
							<a href="/offers/<%=offer._id %>" class="offer__button button--blue">
								<i class="fas fa-file-contract"></i> Więcej
							</a>
							<a href="<%= offer.link %>" class="offer__button button--blue" id="offer__link">
								<i class="fas fa-share-square"></i>
							</a>
							<form class="offer__delete-form" action="/offers/<%= offer._id %>?_method=DELETE" method="POST">
								<button class="offer__button button--blue float-right ml-1">
									<i class="fas fa-trash"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		<% }) %>
	</section>
</div>

<script src="/js/offers/index.js"></script>

<%- include("../partials/footer") %>