<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/offers/show/main.css">
<link rel="stylesheet" href="/stylesheets/offers/show/modal.css">
<link rel="stylesheet" href="/stylesheets/offers/show/header.css">
<link rel="stylesheet" href="/stylesheets/offers/show/statistics.css">
<link rel="stylesheet" href="/stylesheets/offers/show/description.css">
<link rel="stylesheet" href="/stylesheets/offers/show/offer.css">
<link rel="stylesheet" href="/stylesheets/offers/show/chart.css">
<link rel="stylesheet" href="/stylesheets/offers/show/changelog.css">
<link rel="stylesheet" href="/stylesheets/offers/show/buttons.css">
<link rel="stylesheet" href="/stylesheets/offers/show/owner.css">

<% offer.changes.changes.reverse(); %> 

<div class="modal">
	<div class="modal__content box--outline">
		<div class="modal__header">
			<h1 class="modal__heading">Porównaj</h1>
			<p class="modal__word-info">Dodane wyrazy: <span class="modal__count modal__count--inserted"></span></p>
			<p class="modal__word-info">Usunięte wyrazy: <span class="modal__count modal__count--deleted"></span></p>
			<span class="close-modal"><i class="fas fa-times"></i></span>
		</div>
		<div class="modal__main">
			<div class="modal__text modal__text--old">
				<h3 class="modal__text-heading">Stare</h3>
			</div>
			<hr class="separator">
			<div class="modal__text modal__text--new">
				<h3 class="modal__text-heading">Nowe</h3>
			</div>
		</div>
	</div>
	<div class="modal__data">
		<div class="modal__data-old"><%= JSON.stringify(offer.changes.changes.map(el => el.from)) %></div>
		<div class="modal__data-new"><%= JSON.stringify(offer.changes.changes.map(el => el.to)) %></div>
	</div>
</div>

<div class="container">
	<section id="offer">

		<!-- HEADER -->
		<section id="header">
			<a href="/offers" class="header__back button--shadow"><i class="fas fa-arrow-left"></i> Wróć</a>
			<h1 class="header__title"><%= offer.title%></h1>
		</section>

		<!-- MESSAGES -->
		<%- include("../partials/messages") %>

		<!-- OFFER CONTENT -->
		<section id="offer__content">

			<section id="offer__top">
				<!-- Images 1/2 -->
				<section id="offer__images">
								
				</section>

				<!-- Statistics 1/2 -->
				<section id="offer__stats">
					<div class="offer__stats-tab box--outline">
						<p class="offer__stats-tag box__tag">Cena</p>
						<p class="offer__stats-value">
							<% if(offer.offerType === "PURCHASE") { %>
							<%= offer.price %><span class="offer__stats-currency">zł</span>
							<% } else { %>
							brak
							<% } %>
						</p>
					</div>
					<div class="offer__stats-tab box--outline">
						<p class="offer__stats-tag box__tag">Do negocjacji</p>
						<p class="offer__stats-value"> 
							<% if(offer.isNegotiable) { %>
							tak
							<% } else { %>
							nie
							<% } %>
						</p>
					</div>
					<div class="offer__stats-tab box--outline">
						<p class="offer__stats-tag box__tag">Wyświetlenia</p>
						<p class="offer__stats-value"><%= offer.views %> </p>
					</div>
				</section>

				<!-- Description 1/2 -->
				<section id="description" class="box--outline">
					<p class="description__tag box__tag">Opis</p>
					<%= offer.description %>
</section>
			</section>
			
			<section id="offer__data">
				<!-- Chart 2/3 -->
				<div id="chart" class="box--outline">
					<div class="chart__text">
						<div class="chart__num-views active">
							<p class="chart__type">Wyświetlenia</p>
							<p class="chart__num"><%= offer.views %></p>
						</div>
						<div class="chart__num-price" <% if(offer.offerType !== "PURCHASE") { %> disabled <% } %>>
							<p class="chart__type">Cena</p>
							<p class="chart__num">
							<% if(offer.offerType === "PURCHASE") { %>
								<%= offer.price %><span>zł</span>
							<% } else { %>
								brak
							<% } %>
							</p>
						</div>
					</div>
					<canvas id="chart__views" class="active"></canvas>
					<canvas id="chart__price"></canvas>
				</div>
				<section id="buttons" class="box--outline">
					<a href="<%= offer._id %>/update" role="button" class='button button--green'>Aktualizuj</a>
					
					<a href="<%= offer.link %>" role="button" class='button button--blue'>Zobacz</a>
	
					<form class="d-inline" action="/offers/<%= offer._id %>?_method=DELETE" method="POST">
						<button role="button" class='button button--red'>Usuń</button>
					</form>
				</section>
				<!-- Change logs 1/3 -->
				<section id="changelog">
					<div class="changelog__count">
						<h1 class="changelog__count-heading">Wszystkie zmiany</h1>
						<h2><%= offer.changes.count %> </h2>
					</div>
					<div class="changelog__changes">
						<h3 class="changelog__changes-heading">Ostatnie</h3>
						<table class="changelog__table" cellpadding="0">
							<tr>
								<th>Typ</th>
								<th>Oryginalna</th>
								<th>Zmieniona</th>
							</tr>
							<% if (offer.changes.changes.length > 0) { %>
								<% offer.changes.changes.forEach(change => {  %>
									<tr class="changelog__table-data">
											<td><%= offer.translate(change.type) %></td>
										<% if (change.type === 'price') { %>
											<td><%= change.from %>zł</td>
											<td><%= change.to %>zł</td>
										<% } else if (change.type === 'description' || change.type === 'title') { %>
											<td><button data-offertype="<%= offer.translate(change.type).toLowerCase() %>" class="modal__open">Zobacz</button></td>
											<td><button data-offertype="<%= offer.translate(change.type).toLowerCase() %>" class="modal__open">Zobacz</button></td>
										<% } else if(change.type === 'isNegotiable') {%>
											<td><%= change.from ? 'tak' : 'nie'; %></td>
											<td><%= change.to ? 'tak' : 'nie';%></td>
										<% } else { %>
											<td><%= change.from %></td>
											<td><%= change.to %></td>
										<% } %>
								<% }) %>	
							<% } else { %>
								<p class="changelog__error-msg">Twoje ogłoszenie nie ma historii zmian</p>
							<% } %> 
						</table>
					</div>
				</section>
				<!-- Owner -->
				<section id="owner" class="box--outline">
					<p class="box__tag">Właściciel</p>
					<div class="owner__profile">
						<img src="<%= offer.originalOwner.profileImage%>" alt="">
						<div class="owner__profile-content">
							<p class="owner__name"><%=offer.originalOwner.name%></p>
							<p class="owner__localization"><%= offer.originalOwner.localization %></p>
						</div>
					</div>
					<a class="owner__profile-button button button--blue" href="<%=offer.originalOwner.profileLink%>">Ogłoszenia użytkownika</a>
				</section>
			</section>
		</section>
	</section>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=/*process.env.MAPS_API_KEY*/%>&callback=initMap"
  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>

<script src="/js/textComparator/index.js"></script>
<script src="/js/offers/show.js"></script>
<%- include("../partials/footer") %>